/* 在这里添加你的样式 */
body {
    margin: 0;
    padding: 0;
    font-family: 'Quan', sans-serif; /* 使用自定义字体 */
    background: url('../imgs/bg_goat.gif') center center fixed; /* 设置背景动图 */
    background-size: cover;
}

.navbar {
    background-color: rgb(255, 255, 255);
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-center {
    flex: 1; /* 中间部分占据剩余空间 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 54px;
    height: 54px;
    margin-right: 0px;
}

.logo-text {
    font-family: 'Quan', sans-serif;
    font-size: 20px;
    font-weight: light;
    color: #484848;
}

.dropdown-icon {
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
    color: #484848;
}

.sidebar {
    display: inline-block;
    position: fixed;
    top: 50px;
    right: -370px;
    background-color: #ffffff;
    width: 330px;
    height: 100%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    z-index: 1000;
    padding: 20px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #484848;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #ddd;
}

.show {
    right: 0px;
}

.main-content {
    margin: 14%;
    margin-top: 60px;
    text-align: center;
    align-content: center;
    padding-top: 32px;
}

.title {
    font-size: 35px;
    color: #383838;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 10px;
    color: #383838;
    margin-bottom: 10px;
}

.video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16：9 比例的长宽比 */
    margin: 20px 0; /* 上下留空 */
    overflow: hidden; /* 防止内容溢出 */
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn {
    /* 使用贴图作为按钮背景 */
    background-image: url('../imgs/button1.png');
    background-size: cover; /* 调整背景图大小以填充按钮 */
    color: white;
    padding: 0px 0px;
    text-align: center;
    display: inline-block;
    border-radius: 0px;
    text-decoration: none;
    width: 183px; /* 调整按钮宽度为贴图宽度 */
    height: 40px; /* 调整按钮高度为贴图高度 */
    line-height: 43px; /* 垂直居中文字 */
    font-size: 21px;
}

.grass {
    background-image: url('../imgs/bottom_grass.png');
    background-size: cover;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 250px;
}

.footer {
    color: rgb(232, 232, 232);
    font-size: 6px;
    text-align: right;
    right: 15px;
    padding: 10px 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10px;
}
