body {
    margin: 0;
    padding: 0;
    font-family: 'Quan', sans-serif; /* 使用自定义字体 */
    background: url('../imgs/bg_cherry.gif') center center fixed; /* 设置背景动图 */
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff; /* 导航栏背景色 */
    color: #484848; /* 文字颜色 */
    height: 40px;
}

.logo {
    width: 50px; /* logo 图片宽度 */
    height: auto; /* 自适应高度 */
    margin-right: 5px; /* 图片右边距 */
}

.logo-container {
    display: flex;
    align-items: center; /* 垂直居中 */
}

.logo-text {
    font-size: 18px; /* 文字大小 */
}

.nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px; /* 导航项右边距 */
}

.nav-links a {
    color: #484848;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}



.main-content {
    margin: 5%;
    margin-top: 60px; /* 留出导航栏空间 */
    text-align: left; /* 网页内容靠左 */
    padding: 20px;
}

.title {
    color: #484848;
    font-size: 48px;
    margin-bottom: 10px;
}

.subtitle {
    color: #484848;
    font-size: 18px;
    margin-bottom: 20px;
}

.video {
    margin-bottom: 20px;
    width: 715px;
    height: 300px;
}

.btn {
    background-color: #7d7d7d;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
}

.footer {
    background-color: #333;
    color: white;
    text-align: right;
    padding: 3px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 10px;
}
