/* 在这里添加你的样式 */
body {
    margin: 0;
    padding: 0;
    font-family: 'Quan', sans-serif; /* 使用自定义字体 */
    background: url('../imgs/bg_cherry.gif') center center fixed; /* 设置背景动图 */
    background-size: cover;
    height: 100%;
}

/* 导航栏部分 */
.navbar {
    background-color: rgb(255, 255, 255);
    padding: 5px 10px 2px 10px;
    display: fixed;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}

.navbar-flex {
    display: flex;
    width: 100%;
    height: 100%;
}

.navbar-left {
    flex:1;
}

.navbar-center {
    flex: 1; /* 中间部分占据剩余空间 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-right {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: right;
}

.logo {
    width: 48px;
    height: 48px;
    margin-right: 0px;
}

.logo-text {
    font-family: 'Quan', sans-serif;
    font-size: 20px;
    font-weight: light;
    color: #484848;
}

.sidebar-icon {
    display: inline-block;
    font-size: 26px;
    cursor: pointer;
    color: #484848;
}

.sidebar {
    display: inline-block;
    position: fixed;
    top: 54px;
    right: -280px;
    background-color: #ffffff;
    width: 280px;
    height: 100%;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 1000;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #484848;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #ddd;
}

.show {
    right: 0px;
}

/* 导航栏下横线 */
.navbar-bottomline {
    width: 100%;
    height: 3px;
    background-color: rgb(238, 238, 238);
}

/* 主体部分 */
.main {
    margin: 14%;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.title {
    font-size: 32px;
    color: #383838;
    margin-bottom: 10px;
    line-height: 36px;
}

.subtitle {
    font-size: 10px;
    color: #383838;
    margin-bottom: 10px;
}

.video {
    position: relative;
    width: 100%;
    max-height: 300px;
    padding-bottom: 41.84%; /* 16：9 比例的长宽比56.25  2.39:1 是41.84 */
    margin: 20px 0; /* 上下留空 */
    overflow: hidden; /* 防止内容溢出 */
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn {
    /* 使用贴图作为按钮背景 */
    background-image: url('../imgs/button1.png');
    background-size: cover; /* 调整背景图大小以填充按钮 */
    color: rgb(245, 245, 245);
    padding: 0px 0px;
    text-align: center;
    display: inline-block;
    border-radius: 0px;
    text-decoration: none;
    width: 183px; /* 调整按钮宽度为贴图宽度 */
    height: 40px; /* 调整按钮高度为贴图高度 */
    line-height: 43px; /* 垂直居中文字 */
    font-size: 21px;
}

.grass {
    background-image: url('../imgs/bottom_grass.png');
    background-size:contain;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 160px;
}

.footer {
    color: rgb(232, 232, 232);
    font-size: 6px;
    text-align: right;
    right: 15px;
    padding: 10px 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10px;
}
